/* navbar-top-fixed */
body { padding-top: 4rem; }

/* navbar */
.navbar-toggler,
.navbar-toggler-icon { font-size: .8rem; }
.nav-item .active { border-bottom: 2px solid #432874; }
.navbar-light .navbar-nav .nav-link:hover { color: #432874; }

main a { text-decoration: none; }

/* textos*/
h1, h2, h3, h4, h5, h6, .lead { font-family: 'Noto Sans JP', sans-serif; }
h1 { font-weight: 700; }
.btn { text-align: left; }

/* cor */
.text-purple-800 { color: #59359A; }
.bg-purple-800 { background-color: #59359A; border-color: #432874; }
a { color:#432874; }

.bg-purple-400 { background-color: #704FAB; border-color: #704FAB; }
.text-purple-400 { color: #704FAB; }

.bg-purple-300 { background-color: #A98EDA; border-color: #A98EDA; }

.btn-secondary:hover { background-color: #432874; }

.bg-purple-100 { background-color: #EBE8EF; }

form label { font-weight: bold; }

img#previa { height: 200px; }

*:disabled,
.disabled {
	cursor: not-allowed;
	pointer-events: all !important;
}

*:target { padding-top: 4rem; }

#avaliaLivro i:hover {
	color: #FFC107;
	cursor: pointer;
}

@media (max-width: 575.98px) {
	body { padding-top: 8rem; }

	img.cover { max-height: 200px; }

	*:target { padding-top: 9.5rem; }
}